:root {
    --gap: 10px;
    --gray-border-color: #e8e8e8;
}

body {
    width: 300px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

ul {
   list-style: none;
   padding-left: 0;
}

li {
    margin-bottom: var(--gap);
    padding: var(--gap);
    cursor: pointer;
    border: 1px solid var(--gray-border-color);
    border-radius: 3px;
}

li .title {
    color: cornflowerblue;
}

li .screenshot {
    width: 100%;
    margin-bottom: var(--gap);
}

.no-entries {
    text-align: center;
}
