<link href="popup.css" rel="stylesheet">
<div id="app">
    <ul class="entries" v-if="entries.length">
        <li v-for="entry in entries" v-on:click="open(entry)">
            <div>
                <img class="screenshot" v-bind:src="entry.screenshot" v-bind:alt="entry.title" />
            </div>
            <div>
                <span class="title">{{ entry.title }}</span>
            </div>
        </li>
    </ul>

    <div class="no-entries" v-if="entries.length === 0">
        You just got here! 😊
    </div>
</div>

<script src="dist/popup.js"></script>